{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tchat Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
 

<!-- Scripts d'animation -->
<script>
    // Animation au chargement
    document.addEventListener('DOMContentLoaded', () => {
        gsap.from('#chat-log', {duration: 0.8, y: 50, opacity: 0});
        gsap.from('input, button', {duration: 0.6, y: 30, opacity: 0, stagger: 0.1});
    });

    // Animation de soumission
    document.querySelector('#chat-message-submit').addEventListener('click', function() {
        this.style.transform = 'scale(0.9)';
        setTimeout(() => this.style.transform = '', 200);
    });

    // Animation des messages entrants
    function animateMessage(messageElement) {
        gsap.from(messageElement, {
            duration: 0.4,
            x: messageElement.classList.contains('user-message') ? 50 : -50,
            opacity: 0,
            ease: 'power2.out'
        });
    }

    // Modification du gestionnaire de messages


    // Hover effect pour les messages
    document.addEventListener('mouseover', (e) => {
        if(e.target.closest('.message')) {
            gsap.to(e.target, {duration: 0.2, y: -2, ease: 'power1.out'});
        }
    });

    document.addEventListener('mouseout', (e) => {
        if(e.target.closest('.message')) {
            gsap.to(e.target, {duration: 0.2, y: 0, ease: 'power1.in'});
        }
    });
</script>

</head>
<body>

    <div class="header">
        <h3 style="text-align: center; color: white;"> <i class="fas fa-user" ></i>  {{ user_name }} : {{ room_name }}</h3>
    </div>
    
    <div style="border: 2px solid ;" id="chat-log" cols="100" rows="20" readonly></div>
    <div id="typing-indicator" style="padding: 8px 16px; color: #ddd; font-style: italic; height: 1.2em; height: 50px;"></div>

    <input hidden id="file" type="file" >


    <div class="message-buttons">
        <input id="chat-message-input" type="text" size="100" placeholder="Entrer votre message" > 
        <button style="transform: translate(-17px, 4.5px);margin-left: 10px;" id="chat-message-submit"><i class="fas fa-paper-plane"></i></button>
    </div>
    <div class="record-buttons">
        <button id="record-voice"><i class="fas fa-microphone"></i></button>
        <button id="record-video"><i class="fas fa-video"></i></button>
        <button id="quit"><i class="fas fa-sign-out-alt"></i> </button>
        <label style="margin-top: 60px;" class="button-file" for="file" title="Joindre un fichier"><i class="fas fa-paperclip"></i></label>
    </div>


    
    {{ room_name|json_script:"room-name" }}
    {{ user_name|json_script:"user-name" }}
    <script>
        const roomName = JSON.parse(
            document.getElementById('room-name').textContent
        );
        const userName = JSON.parse(
            document.getElementById('user-name').textContent
        );
        console.log('>> room:', roomName, 'user:', userName);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
            + userName
            + '/'
        );
        
        document.getElementById('file').addEventListener('change', function(event){
            const file = event.target.files[0];
            if(!file) return;
            const formData = new FormData();
            formData.append('file',file);
            
            fetch('{% url "upload" %}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.file_url){
                    chatSocket.send(JSON.stringify({
                        message:      data.file_url,
                        message_type: 'file',        // on l’appelle “message_type” pour coller au consumer
                        filename:     data.file_url.split('/').pop(),
                        file_type:    file.type,
                        display_name: data.original_name  // si vous l’avez renvoyé dans votre JSON d’upload
                    }));

                }
            })
            .catch(error => {
                console.error('Erreur lors de l\'envoie du fichier:', error);
            });
        });
        

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chatLog = document.querySelector('#chat-log');
            console.log("🔍 received data:", data);

            const messageDiv = document.createElement('div');
            messageDiv.classList.add('message');

          
            
            if (data.type === 'message_history') {
                data.messages.forEach(message => {
                    console.log("🔍 message:", message);
                    const messageDiv = document.createElement('div');
                    messageDiv.classList.add('message');
                    const isMine = message.username === userName;              
                    messageDiv.classList.add(isMine ? 'user-message' : 'other-message');
                    messageDiv.innerHTML = `
                    <strong>${ isMine ? 'Vous' : message.username }</strong>
                    <p>${ message.content }</p>
                    `;
                    chatLog.appendChild(messageDiv);

                });
                
            }
            if (data.message.endsWith("est en train d'écrire...") && data.username !== userName) {
                const typingDiv = document.querySelector('#typing-indicator');
                typingDiv.className = 'other-message';
                typingDiv.innerHTML = `<em>${data.message}</em>`;
                // Suppression après 3 s
                setTimeout(() => typingDiv.innerHTML = '', 4000);
                return;
            }
            
            if(data.message_type === 'file') {
                    messageDiv.classList.add('file-message');
                    let contentType = data.file_type.startsWith('audio/') ? 'un audio' : data.file_type.startsWith('video/') ? 'une vidéo' : 'un fichier';
                    let content = `<p> <strong>${data.username === userName ? 'Vous ' : data.username}</strong>  </p>`;
                    if (data.file_type.startsWith('audio/')) {
                        const isMine = data.username === userName;
                        messageDiv.classList.add(isMine ? 'user-message' : 'other-message-file');
                        content += `<i class="fas fa-volume-up"></i> <audio controls src="/media/${data.filename}"></audio>`;
                    } else if (data.file_type.startsWith('video/')) {
                        const isMine = data.username === userName;
                        messageDiv.classList.add(isMine ? 'user-message' : 'other-message-file');
                        
                        content += `<i class="fas fa-video"></i> <video controls src="/media/${data.filename}"></video>`;
                    }if (data.file_type.startsWith('application/')) {
                        const isMine = data.username === userName;
                        messageDiv.classList.add(isMine ? 'user-message' : 'other-message-file');
                        content += `<a href="http://127.0.0.1:8000/media/${data.filename}" download class="file-link">${data.display_name} ↓</a>`;
                    }
                    messageDiv.innerHTML = content;
                    } else if(data.message === "Vient de se déconnecter") {
                        messageDiv.classList.add('other-message');
                        messageDiv.innerHTML = `<em>${data.username} ${data.message}</em>`;
                    } 
                    else if(!data.message.endsWith("est en train d'écrire...") ) {
                        const isMine = data.username === userName;
                        messageDiv.classList.add(isMine ? 'user-message' : 'other-message');
                        messageDiv.innerHTML = `
                        <strong>${ isMine ? 'Vous' : data.username }</strong>
                        <p>${ data.message }</p>
                        `;
                    }
                

                const content = messageDiv.textContent.trim();  // récupère tout le texte et enlève les espaces autour

                if (content !== '') {
                chatLog.appendChild(messageDiv);
                }

                animateMessage(messageDiv);
                chatLog.scrollTop = chatLog.scrollHeight;
        };



  
        chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        };
        

        document.querySelector('#quit').onclick = function(e){
            console.log('cliquer');
            chatSocket.send(JSON.stringify({
                'message': "Vient de se déconnecter"
            }));
            chatSocket.close();

            window.location.pathname = '';

        }

        const inputField = document.querySelector('#chat-message-input');
        inputField.addEventListener('keydown', (e) => {
            if (inputField.value.length === 0 && e.key.length === 1) {
                chatSocket.send(JSON.stringify({
                    'message': `${userName} est en train d'écrire...`
                }));
                return;
            }
        });

        

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
               
                'message': message
            }));
            messageInputDom.value = '';
        };

        //SCript pour les audios et vidéos

        // Gestion de l'enregistrement audio et vidéo
        let mediaRecorder;
        let recordingStream;
        let isRecording = false;
        let currentType = null;

        function startVoiceRecording() {
            if (isRecording) return;
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {
                    recordingStream = stream;
                    const uniqueId = Date.now() + Math.random().toString(36).substr(2, 9);
                    const filename = `voice_${uniqueId}.webm`;
                    startRecording(stream, 'audio/webm', filename);
                })
                .catch(error => {
                    console.error('Erreur d\'accès au micro :', error);
                });
        }

        function startVideoRecording() {
            if (isRecording) return;
            navigator.mediaDevices.getUserMedia({ video: true, audio: true })
                .then(stream => {
                    recordingStream = stream;
                    const uniqueId = Date.now() + Math.random().toString(36).substr(2, 9);
                    const filename = `video_${uniqueId}.webm`;
                    startRecording(stream, 'video/webm', filename);
                })
                .catch(error => {
                    console.error('Erreur d\'accès à la caméra et au micro :', error);
                });
        }
        
        function startRecording(stream, mimeType, filename) {
            isRecording = true;
            currentType = mimeType.startsWith('audio') ? 'audio' : 'video';
            mediaRecorder = new MediaRecorder(stream, { mimeType });
            const chunks = [];
            mediaRecorder.ondataavailable = e => chunks.push(e.data);
            mediaRecorder.onstop = () => {
                const blob = new Blob(chunks, { type: mimeType });
                uploadFile(blob, filename);
                stream.getTracks().forEach(track => track.stop());
                isRecording = false;
                currentType = null;
                document.querySelector('#record-voice').innerHTML = `<i class="fas fa-microphone"></i>`;
                document.querySelector('#record-video').innerHTML = `<i class="fas fa-video"></i>`;
            };
            mediaRecorder.start();
            if (currentType === 'audio') {
                document.querySelector('#record-voice').textContent = 'Arrêter l\'enregistrement vocal';

            } else {
                document.querySelector('#record-video').textContent = 'Arrêter l\'enregistrement vidéo';
            }
        }

        function uploadFile(file, display_name) {
            const formData = new FormData();
            formData.append('file', file, display_name);
            fetch('{% url "upload" %}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.file_url){
                    chatSocket.send(JSON.stringify({
                        'message': `Fichier partagé: ${data.file_url}`,
                         message_type: 'file',
                        'display_name': data.original_name,
                        'filename': data.file_url.split('/').pop(),
                        'file_type': file.type
                    }));
                }
            })
            .catch(error => {
                console.error('Erreur lors de l\'envoi du fichier :', error);
            });
        }

        document.querySelector('#record-voice').addEventListener('click', () => {
            if (isRecording && currentType === 'audio') {
                mediaRecorder.stop();
            } else if (!isRecording) {
                startVoiceRecording();
            }
        });

        document.querySelector('#record-video').addEventListener('click', () => {
            if (isRecording && currentType === 'video') {
                mediaRecorder.stop();
            } else if (!isRecording) {
                startVideoRecording();
            }
        });
    </script>
  </body>
</html>